@import url("HeaderFooter.css");
@import url("general.css");

body {
    min-width: 880px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    align-items: start;
}

/* Calendar */
.flatpickr-calendar {
    width: 100%;
    margin-top: 12px;
    padding: 10px 0;
    background: var(--light-bg);
    box-shadow: none;
    border-radius: var(--radius);
}

.dark .flatpickr-calendar {
    background-color: rgb(from var(--primary) r g b / 5%);
}

.flatpickr-innerContainer,
.flatpickr-rContainer,
.flatpickr-days {
    width: 100%;
    display: block;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    height: 20px;
    width: 20px;
}

.dayContainer {
    width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

.flatpickr-weekdays {
    margin: 8px 0;
}

span.flatpickr-weekday {
    font-size: 14px;
    color: var(--text);
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    fill: var(--text);
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--primary);
}

.flatpickr-day {
    min-width: 80%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: var(--radius);
    border: none;
    color: var(--text);
}

.flatpickr-day.today,
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    background-color: rgb(from var(--primary) r g b / 20%);
    color: var(--text);
}

.flatpickr-day:hover,
.flatpickr-day:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    background-color: rgb(from var(--secondary) r g b / 10%);
}

.flatpickr-day.selected,
.flatpickr-day.selected:hover,
.flatpickr-day.selected:focus {
    background: var(--primary-hover);
    color: white;
}

.flatpickr-months .flatpickr-month,
.flatpickr-current-month {
    height: 50px;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    margin-right: 20px;
    padding: 8px;
    border-radius: var(--radius);
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}

.numInputWrapper span {
    left: 60px
}

.flatpickr-current-month input.cur-year {
    padding: 8px;
}

.flatpickr-current-month .numInputWrapper {
    border-radius: var(--radius);
    color: var(--text)
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    height: 40px;
    border-radius: 50%;
    padding: 10px 12px 10px 10px;
    position: relative;
    top: 8px;
}

.badge,
.action button {
    padding: 5px 10px;
    border-radius: var(--radius);
    font-size: 12px;
    font-weight: 600;
}

.status {
    background-color: rgb(from var(--secondary) r g b / 10%);
    color: var(--secondary);
}

.status-inroom {
    background-color: rgb(from var(--primary-hover) r g b / 10%);
    color: var(--primary-hover);
}

.status-ready,
.badge-normal {
    background-color: rgb(from var(--success) r g b / 10%);
    color: var(--success);
}

.status-pendingvital,
.badge-urgent {
    background-color: rgb(from var(--warning) r g b / 10%);
    color: var(--warning);
}

.badge-emergency {
    background-color: rgb(from var(--danger) r g b / 10%);
    color: var(--danger);
}

.status-timeup {
    background-color: rgb(from var(--danger) r g b / 10%);
    color: var(--danger);
}

.timeup-actions {
    display: flex;
    gap: 8px;
}

.timeup-actions button {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
}

.card .title {
    font-size: 16px;
    font-weight: 700;
}

.table-list tr:not(td .empty-row):hover {
    cursor: pointer;
    background: var(--hover);
}

td.empty-row {
    pointer-events: none
}

.page-title .description i {
    margin-right: 8px;
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
    main {
        padding: 40px;
        padding-top: 120px;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        grid-template-columns: auto;
    }
}