<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="../assets/css/appointments.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://kit.fontawesome.com/4897704fad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../assets/js/general.js"></script>
    <script src="../assets/js/appointments.js"></script>

</head>

<body>

    {% include "header.html" %}

    <main>
        <div class="page-title">
            <div>
                <div class="title">Appointment Management</div>
                <div class="description">Manage all scheduled & past appointments</div>
            </div>
            <button onclick="openModal('addAppointmentModal')"><i class="fa-solid fa-plus"></i>New Appointment</button>
        </div>

        <div class="display">
            <div class="card" id="todayAppointments">
                <div class="details">
                    <div class="data">Today's Appointments</div>
                    <div class="number">8</div>
                </div>
                <div class="icon"><i class="fas fa-calendar-check"></i></div>
            </div>

            <div class="card" id="upcomingAppointments">
                <div class="details">
                    <div class="data">Upcoming Appointments</div>
                    <div class="number">15</div>
                </div>
                <div class="icon"><i class="fas fa-clock"></i></div>
            </div>

            <div class="card" id="completedAppointments">
                <div class="details">
                    <div class="data">Completed This Month</div>
                    <div class="number">32</div>
                </div>
                <div class="icon"><i class="fa-solid fa-check"></i></div>
            </div>

            <div class="card" id="cancelledAppointments">
                <div class="details">
                    <div class="data">Cancelled Appointments</div>
                    <div class="number">6</div>
                </div>
                <div class="icon"><i class="fas fa-calendar-times"></i></div>
            </div>
        </div>

        <div class="control card">
            <div class="search">
                <input type="text" placeholder="Search appointment ID / patient name" id="searchInput"
                    oninput="refreshAppointmentList()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <button class="secondary filter" onclick="openModal('filterModal')"><i
                    class="fa-solid fa-filter"></i>Filter</button>
            <div class="custom-select">
                <select id="sortBy" onchange="refreshAppointmentList()">
                    <option value="dateNewest">Date (Newest)</option>
                    <option value="dateOldest">Date (Oldest)</option>
                    <option value="time">Time</option>
                    <option value="doctor">Doctor</option>
                    <option value="status">Status</option>
                </select>
            </div>
        </div>

        <div class="table-list">
            <table>
                <thead>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Patient Name</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="appointmentTableBody"></tbody>
            </table>

            <div class="pagination">
                <p id="pageInfo"></p>
                <div>
                    <div class="rowsPage">
                        <span>Rows per page:</span>
                        <select id="rowsPerPageSelect" onchange="pagination.changeRowsPerPage(this.value)">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                    </div>

                    <div class="controls">
                        <button class="secondary" id="prevBtn" onclick="pagination.prev()"><i
                                class="fa fa-chevron-left"></i></button>
                        <span>Page:</span>
                        <select id="pageSelect" onchange="pagination.goToPage(this.value)"></select>
                        <button class="secondary" id="nextBtn" onclick="pagination.next()"><i
                                class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="filterModal" class="modal">
            <div class="modal-box card">
                <div class="top-title">Filter Appointments</div>
                <div class="close" onclick="closeModal(this)"><i class="fa-solid fa-xmark"></i></div>

                <div class="modal-content">

                    <label>Appointment Type</label>
                    <div class="field">
                        <div><input type="checkbox" class="filter-type" id="checkup" name="checkup" value="checkup">
                            <label for="checkup">Routine Checkup</label>
                        </div>
                        <div><input type="checkbox" class="filter-type" id="followup" name="followup" value="followup">
                            <label for="followup">Follow-up</label>
                        </div>
                        <div><input type="checkbox" class="filter-type" id="consultation" name="consultation"
                                value="consultation">
                            <label for="consultation">New Consultation</label>
                        </div>
                        <div><input type="checkbox" class="filter-type" id="emergency" name="emergency"
                                value="emergency">
                            <label for="emergency">Emergency</label>
                        </div>
                    </div>

                    <label>Doctor</label>
                    <div class="field" id="doctorCheckbox"></div>

                    <div class="field">
                        <label>Date Range</label>
                        <div class="custom-select">
                            <i class="fa-solid fa-calendar-days"></i>
                            <select id="filter-date">
                                <option value="">All Date</option>
                                <option value="today">Today</option>
                                <option value="thisweek">This Week</option>
                                <option value="thismonth">This Month</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label>Status</label>
                        <div class="custom-select">
                            <i class="fa-solid fa-list-check"></i>
                            <select id="filter-status">
                                <option value="">All Status</option>
                                <option value="Scheduled">Scheduled</option>
                                <option value="Checked-In">Checked-In</option>
                                <option value="In-Progress">In-Progress</option>
                                <option value="Completed">Completed</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="No-Show">No-Show</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="button-section">
                    <button class="secondary" onclick="clearInput(this)">Reset</button>
                    <button
                        onclick="refreshAppointmentList(); closeModal(this); showToast('Filter applied!', 'success')">Apply
                        Filter</button>
                </div>
            </div>
        </div>

        <div id="addAppointmentModal" class="modal">
            <div class="modal-box card">
                <div class="top-title">New Appointment</div>
                <div class="close" onclick="closeModal(this)"><i class="fa-solid fa-xmark"></i></div>

                <div class="modal-content">

                    <div class="stepper">
                        <div class="step-item active" data-step="1">
                            <div class="step-circle">1</div>
                            <div class="step-title">Doctor</div>
                        </div>
                        <div class="step-item" data-step="2">
                            <div class="step-circle">2</div>
                            <div class="step-title">Patient</div>
                        </div>
                        <div class="step-item" data-step="3">
                            <div class="step-circle">3</div>
                            <div class="step-title">Confirmation</div>
                        </div>
                    </div>

                    <div class="step-content card active" data-step="1">
                        <div class="error-box"></div>

                        <div class="field">
                            <label class="required">Priority</label>
                            <div class="level">
                                <div class="emergency"><span></span>Emergency</div>
                                <div class="urgent"><span></span>Urgent</div>
                                <div class="normal selected"><span></span>Normal</div>
                                <div class="follow-up"><span></span>Follow-up</div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="required">Doctor</label>
                            <div class="custom-select">
                                <i class="fa-solid fa-user-doctor"></i>
                                <select id="doctorList" required></select>
                            </div>
                        </div>

                        <div class="field">
                            <label class="required">Date</label>
                            <input type="text" id="appointment_date" placeholder="Choose date" required>
                        </div>

                        <div class="field">
                            <label class="required">Time Slot</label>
                            <div class="timeslot">
                                <div class="tab-section">
                                    <div class="tab selected" onclick="openTab(this, 'addMorningTab')">Morning</div>
                                    <div class="tab" onclick="openTab(this, 'addAfternoonTab')">Afternoon</div>
                                    <div class="tab" onclick="openTab(this, 'addEveningTab')">Evening</div>
                                </div>

                                <div class="tab-content show" id="addMorningTab">
                                    <div class="slot selected">08:00</div>
                                    <div class="slot">08:30</div>
                                    <div class="slot">09:00</div>
                                    <div class="slot">09:30</div>
                                    <div class="slot disable">10:00</div>
                                    <div class="slot disable">10:30</div>
                                    <div class="slot">11:00</div>
                                    <div class="slot">11:30</div>
                                </div>

                                <div class="tab-content" id="addAfternoonTab">
                                    <div class="slot">13:00</div>
                                    <div class="slot">13:30</div>
                                    <div class="slot disable">14:00</div>
                                    <div class="slot">14:30</div>
                                    <div class="slot">15:00</div>
                                    <div class="slot">15:30</div>
                                    <div class="slot disable">16:00</div>
                                    <div class="slot">16:30</div>
                                </div>

                                <div class="tab-content" id="addEveningTab">
                                    <div class="slot">17:00</div>
                                    <div class="slot">17:30</div>
                                    <div class="slot disable">18:00</div>
                                    <div class="slot">18:30</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step-content card" data-step="2">
                        <div class="error-box"></div>

                        <div class="field">
                            <label class="required">Patient</label>
                            <div class="custom-select">
                                <i class="fa-solid fa-hospital-user"></i>
                                <select id="patientsList" required></select>
                            </div>
                        </div>

                        <div class="field">
                            <input type="checkbox" id="addNewPatient" name="addNewPatient" value="addNewPatient"
                                onchange="showAddPatientTab(this)">
                            <label for="addNewPatient">New Patient (Enable to register)</label>
                        </div>

                        <div class="card row-section" id="addNewPatientTab">
                            <div class="field">
                                <label class="required">First Name</label>
                                <input type="text" placeholder="First Name">
                            </div>

                            <div class="field">
                                <label class="required">Last Name</label>
                                <input type="text" placeholder="Last Name">
                            </div>

                            <div class="field">
                                <label class="required">Date of Birth</label>
                                <input type="date">
                            </div>

                            <div class="field">
                                <label class="required">Phone Number</label>
                                <input type="tel" maxlength="8" placeholder="e.g. 9123 4567"
                                    oninput="this.value = this.value.replace(/[^\d]/g, '')">
                            </div>
                        </div>

                        <div class="row-section">
                            <div class="field">
                                <label class="required">Room</label>
                                <div class="custom-select">
                                    <i class="fa-solid fa-door-closed"></i>
                                    <select id="appointmentType" required>
                                        <option>Room 1</option>
                                        <option>Room 2</option>
                                        <option>Room 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <label class="required">Appointment Type</label>
                                <div class="custom-select">
                                    <i class="fa-solid fa-stethoscope"></i>
                                    <select id="appointmentType" required>
                                        <option>Routine Checkup</option>
                                        <option>Follow-up</option>
                                        <option>New Consultation</option>
                                        <option>Emergency</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Referring Provider (Optional)</label>
                            <textarea type="textarea" rows="1" placeholder="Name of external doctor"></textarea>
                        </div>

                        <label>Special Requirements</label>
                        <div class="field">
                            <input type="checkbox" id="wheelchair" name="wheelchair" value="wheelchair">
                            <label for="wheelchair">Wheelchair</label>

                            <input type="checkbox" id="equipment" name="equipment" value="equipment">
                            <label for="equipment">Medical Equipment</label>

                            <input type="checkbox" id="translator" name="translator" value="translator">
                            <label for="translator">Translator</label>
                        </div>
                    </div>

                    <div class="step-content card" data-step="3">
                        <div class="card" id="aptSummary">
                            <div>APPOINTMENT SUMMARY</div>
                            <div class="row">
                                <span>Doctor:</span>
                                <span>Dr. Jimmy Jitaraphol</span>
                            </div>
                            <div class="row">
                                <span>Date:</span>
                                <span>20 June 2026</span>
                            </div>
                            <div class="row">
                                <span>Time:</span>
                                <span>14:00</span>
                            </div>
                            <div class="row">
                                <span>Patient:</span>
                                <span>William JKP</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="button-section">
                    <button class="secondary" onclick="clearInput(this)">Reset</button>
                    <button class="secondary btn-back" onclick="prevStep(this)">Back</button>
                    <button class="btn-next"
                        onclick="verifyInput(`#addAppointmentModal .step-content[data-step='1']`)&&nextStep(this)">Next</button>
                </div>
            </div>
        </div>

        <div id="detailsModal" class="modal">
            <div class="modal-box card">
                <div class="top-title">Appointments Details</div>
                <div class="close" onclick="closeModal(this)"><i class="fa-solid fa-xmark"></i></div>

                <div class="modal-content">
                    <div class="info card">
                        <div>APPOINTMENT INFORMATION</div>
                        <div class="row">
                            <span>Doctor:</span>
                            <span id="view-doc"></span>
                        </div>
                        <div class="row">
                            <span>Date:</span>
                            <span id="view-date"></span>
                        </div>
                        <div class="row">
                            <span>Time:</span>
                            <span id="view-time"></span>
                        </div>
                        <div class="row">
                            <span>Room:</span>
                            <span id="view-room"></span>
                        </div>
                        <div class="row">
                            <span>Appointment Type:</span>
                            <span id="view-type"></span>
                        </div>
                        <div class="row">
                            <span>Special Requirements:</span>
                            <span id="view-sr"></span>
                        </div>
                        <div class="row">
                            <span>Referring Provider:</span>
                            <span id="view-rp"></span>
                        </div>
                        <div class="row">
                            <span>Patient:</span>
                            <span id="view-patient"></span>
                        </div>
                    </div>
                </div>

                <div class="button-section">
                    <button onclick="closeModal(this)">Close</button>
                </div>
            </div>
        </div>

        <div id="editModal" class="modal">
            <div class="modal-box card">
                <div class="top-title">Edit Appointment</div>
                <div class="close" onclick="closeModal(this)"><i class="fa-solid fa-xmark"></i></div>

                <div class="modal-content">

                    <div class="stepper">
                        <div class="step-item active" data-step="1">
                            <div class="step-circle">1</div>
                            <div class="step-title">Doctor</div>
                        </div>
                        <div class="step-item" data-step="2">
                            <div class="step-circle">2</div>
                            <div class="step-title">Patient</div>
                        </div>
                        <div class="step-item" data-step="3">
                            <div class="step-circle">3</div>
                            <div class="step-title">Confirmation</div>
                        </div>
                    </div>

                    <div class="step-content active card" data-step="1">
                        <div class="error-box"></div>

                        <div class="field">
                            <label class="required">Priority</label>
                            <div class="level">
                                <div class="emergency"><span></span>Emergency</div>
                                <div class="urgent"><span></span>Urgent</div>
                                <div class="normal selected"><span></span>Normal</div>
                                <div class="follow-up"><span></span>Follow-up</div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="required">Doctor</label>
                            <div class="custom-select">
                                <i class="fa-solid fa-user-doctor"></i>
                                <select id="editDoctorList" required></select>
                            </div>
                        </div>

                        <div class="field">
                            <label class="required">Date</label>
                            <input type="text" id="edit_appointment_date" placeholder="Choose date" value="2026-06-30"
                                required>
                        </div>

                        <div class="field">
                            <label class="required">Time Slot</label>
                            <div class="timeslot">
                                <div class="tab-section">
                                    <div class="tab selected" onclick="openTab(this, 'editMorningTab')">Morning</div>
                                    <div class="tab" onclick="openTab(this, 'editAfternoonTab')">Afternoon</div>
                                    <div class="tab" onclick="openTab(this, 'editEveningTab')">Evening</div>
                                </div>

                                <div class="tab-content show" id="editMorningTab">
                                    <div class="slot selected">08:00</div>
                                    <div class="slot">08:30</div>
                                    <div class="slot">09:00</div>
                                    <div class="slot">09:30</div>
                                    <div class="slot disable">10:00</div>
                                    <div class="slot disable">10:30</div>
                                    <div class="slot">11:00</div>
                                    <div class="slot">11:30</div>
                                </div>

                                <div class="tab-content" id="editAfternoonTab">
                                    <div class="slot">13:00</div>
                                    <div class="slot">13:30</div>
                                    <div class="slot disable">14:00</div>
                                    <div class="slot">14:30</div>
                                    <div class="slot">15:00</div>
                                    <div class="slot">15:30</div>
                                    <div class="slot disable">16:00</div>
                                    <div class="slot">16:30</div>
                                </div>

                                <div class="tab-content" id="editEveningTab">
                                    <div class="slot">17:00</div>
                                    <div class="slot">17:30</div>
                                    <div class="slot disable">18:00</div>
                                    <div class="slot">18:30</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step-content card" data-step="2">
                        <div class="error-box"></div>

                        <div class="field">
                            <label class="required">Patient</label>
                            <div class="custom-select">
                                <i class="fa-solid fa-hospital-user"></i>
                                <select id="editPatientsList" required></select>
                            </div>
                        </div>

                        <div class="row-section">
                            <div class="field">
                                <label class="required">Room</label>
                                <div class="custom-select">
                                    <i class="fa-solid fa-door-closed"></i>
                                    <select id="editAppointmentRoom" required>
                                        <option>Room 1</option>
                                        <option>Room 2</option>
                                        <option>Room 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <label class="required">Appointment Type</label>
                                <div class="custom-select">
                                    <i class="fa-solid fa-stethoscope"></i>
                                    <select id="appointmentType" required>
                                        <option>Routine Checkup</option>
                                        <option>Follow-up</option>
                                        <option>New Consultation</option>
                                        <option>Emergency</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Referring Provider (Optional)</label>
                            <textarea type="textarea" rows="1" placeholder="Name of external doctor"></textarea>
                        </div>

                        <label>Special Requirements</label>
                        <div class="field">
                            <input type="checkbox" id="editWheelchair" name="wheelchair" value="wheelchair">
                            <label for="wheelchair">Wheelchair</label>

                            <input type="checkbox" id="editEquipment" name="equipment" value="equipment">
                            <label for="equipment">Medical Equipment</label>

                            <input type="checkbox" id="editTranslator" name="translator" value="translator">
                            <label for="translator">Translator</label>
                        </div>
                    </div>

                    <div class="step-content card" data-step="3">
                        <div class="card" id="editAptSummary">
                            <div>EDITED APPOINTMENT SUMMARY</div>
                            <div class="row">
                                <span>Doctor:</span>
                                <span>Dr. Jimmy Jitaraphol</span>
                            </div>
                            <div class="row">
                                <span>Date:</span>
                                <span>20 June 2026</span>
                            </div>
                            <div class="row">
                                <span>Time:</span>
                                <span>14:00</span>
                            </div>
                            <div class="row">
                                <span>Patient:</span>
                                <span>William JKP</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="button-section">
                    <button class="secondary" onclick="clearInput(this)">Reset</button>
                    <button class="secondary btn-back" onclick="prevStep(this)">Back</button>
                    <button class="btn-next"
                        onclick="verifyInput(`#editModal .step-content[data-step='1']`)&&nextStep(this)">Next</button>
                </div>
            </div>
        </div>

        <div class="toast card" id="toast"></div>
    </main>

    {% include "footer.html" %}

</body>

</html>