<header>
  <div class="top-header">
    <div class="logo">
      <i class="fa-solid fa-hospital-user"></i>
      <div class="title">CSCare Hospital System</div>
    </div>
    <div class="relative">
      <div class="search-bar">
        <input type="text" placeholder="Search patient, appointment, staff...">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="dropdown">
        <div class="profile">
          <img src="https://i.mydramalist.com/kAOejw_5c.jpg">
          <div class="identity">
            <div class="name">Jimmy Jitaraphol</div>
            <div class="roles">Doctor</div>
          </div>
        </div>

        <div class="dropdown-content">
          <div class="dropdown-item">
            <i class="fa-regular fa-moon"></i>
            <span>Dark Theme</span>
            <div class="toggle-switch" id="darkModeToggle"></div>
          </div>
          <div class="dropdown-item logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>
          </div>

        </div>
      </div>


      <i id="menuBtn" class="fa-solid fa-bars" onclick="burgerMenu()"></i>
    </div>
  </div>

  <nav class="mega-menu">
    <a href="/dashboard"><i class="fa-solid fa-gauge"></i>Dashboard</a>
    <a href="/patients"><i class="fa-solid fa-users"></i>Patients</a>
    <a href="/appointments"><i class="fa-solid fa-calendar-days"></i>Appointments</a>
    <a href="/records"><i class="fa-solid fa-file-medical"></i>Medical Records</a>
    <a class="disable" href="/billing"><i class="fa-solid fa-money-bill-transfer"></i>Billing</a>
    <a class="disable" href="/staff"><i class="fa-solid fa-user-tie"></i>Staffs</a>
    <a href="/settings"><i class="fa-solid fa-gear"></i>Settings</a>
  </nav>
</header>