<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medical Records</title>
    <link rel="stylesheet" href="../assets/css/medical-records.css">
    <script src="https://kit.fontawesome.com/4897704fad.js"></script>

    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore-compat.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "{{ firebase_api_key }}",
            authDomain: "{{ firebase_project_id }}.firebaseapp.com",
            projectId: "{{ firebase_project_id }}",
            storageBucket: "{{ firebase_project_id }}.appspot.com",
        };
        firebase.initializeApp(firebaseConfig);
    </script>
    <script src="../assets/js/FirebaseService.js"></script>
    <script src="../assets/js/general.js"></script>
</head>

<body>

    {% include "header.html" %}

    <main></main>

    {% include "footer.html" %}

</body>

</html>